language: rust

rust:
  - nightly
  - beta
  - stable

cache: cargo

env:
  - CARGO_FEATURES=""

matrix:
  include:
    - rust: nightly
      env: CARGO_FEATURES="unstable"

script:
  - cargo build --features "$CARGO_FEATURES"
  - cargo test --features "$CARGO_FEATURES"
  - cargo miri test --features "$CARGO_FEATURES"
  - |
    if [[ "$TRAVIS_RUST_VERSION" == "nightly" ]]; then
      cargo bench --features "$CARGO_FEATURES"
    fi

notifications:
    email: false
